@keyframes aparecer {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

.aparecer3s {
    opacity: 0%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.aparecer13s {
    opacity: 0%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}
.aparecer1s {
    opacity: 0%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.aparecer06s {
    opacity: 0%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}
.aparecer03s {
    opacity: 0%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.aparecer0s {
    opacity: 0%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideLeft {
    0% {transform: translate(-20%,0);
          color: rgba(0, 0, 0, 0);  
     }
    100% {transform: translate(0,0);
        color: rgba(0, 0, 0, 1)
    }
}

@keyframes showBlock {
    0% {width: 0%;
        color: rgba(255, 215, 0, 0);
    }
    50% {
        color: rgba(255, 215, 0, 0);
    }
    100% {
        width: 100%;
        color: rgba(255, 215, 0, 1);
    }
}

@keyframes arito {
    0%{border-color: rgba(0, 0, 0, 1); transform:scale(1,1);}
    50%{border-color: rgba(0, 0, 0, 0.5); transform:scale(1.2,1.2);}
    1000%{border-color: rgba(0, 0, 0, 1); transform:scale(1,1);}
}