.title_container {
    margin-left: 10%;
    margin-bottom: auto;

        p {
            font-size: 110%;
            font-family: 'Open Sans', sans-serif;
            font-family: $fontParrafo;
            margin-top: 2%;
        }  
}

.cripto-curso {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 15%;
    background-color: gold;
    align-items: center;
    padding-bottom: 5%;

    .img-flyer {
        width: 100%;
    }

    .boton-curso {
        background-color: black;
        color: white;
        padding: 1.5%;
        border-radius: 2em;
        width: 95vw;
        text-align: center;
        margin-top: 5%;
        font-size: 5vw;
        &:hover {
            background-color: white;
            color: black;
        }
    }
    .texto-curso {
        margin-top: 5%;
        width: 80%;
        font-family: $fontParrafo;
        font-size: 110%;
        padding-bottom: 5%;

        p {
            margin-top: 4%;
        }
    }
    
}

.cripto-curso-b {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 5%;  
        align-items: center;
        margin-bottom: 10%;

        .texto-curso {
            font-family: $fontParrafo;
            width: 80%;
            p {
                margin-top: 4%;
            }
        }

        .boton-curso-fin {
        background-color: black;
        color: white;
        padding: 1.5%;
        border-radius: 2em;
        width: 95vw;
        text-align: center;
        margin-top: 5%;
        font-size: 5vw;
        &:hover {
            background-color: gold;
            color: black;
        }
    
        }
}
