.text1 {
    color: black;
    font-size: 10vw;
    margin-top: 5%;
}

.text2 {
    color: gold;
    background-color: black;
    font-size: 12vw;
}

.text3 {
    color: black;
    font-family: $fontParrafo;
    font-size: 1.5em;
    width: 90%;
    margin-top: 2%;
}

.text4 {
    font-family: $fontTitulo;
}

.text5 {
    font-family: $fontParrafo;
    font-size: 1em;
    color: black;
    margin-top: 2%;
    width: 90%;
}

.titulo-destacado {
    font-family: $fontParrafo;
    font-size: 2em;
    
}