.text1 {
    color: black;
    font-size: 4rem;
    margin-top: 5%;
}

.text2 {
    color: gold;
    background-color: black;
    font-size: 6rem;
}

.text3 {
    color: black;
    font-family: $fontParrafo;
    font-size: 1.5em;
    width: 90%;
    margin-top: 2%;
    
}

.text4 {
    font-family: $fontTitulo;
}

/*===== FIN DE ESTILOS ======*/


