html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

/* ------------fin del reset------------ */
/* ------------fin del reset------------ */
/* ------------fin del reset------------ */

body {
    background-color: whitesmoke; 
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1023px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding: 0.5em;
        z-index: 1;
    }

    header a img {
        width: 12em;
    }

    header .menuIcon img {
        height: 2em;
        padding-top: 1em;
    }

    header .menuDesplegable {
        display: none;
        position: absolute;
        right: 0%;
        background-color: whitesmoke;
        border-radius: 0.25em;
    }

    header .menuIcon .menuDesplegable ul.menu {
        display: flex;
        flex-direction: column;
    }

    header .menuIcon .menuDesplegable ul.menu li {
        margin: 0.05em 0.05em;
        background-color: black;
        border-radius: 0.5em;
        width: 5em;
        font-size: 1em;
        width: auto;
        padding: 0.5em;
        opacity: 100%;
    }

    header .menuIcon:hover .menuDesplegable {
        display: block;
    }

    header .menuIcon .menuDesplegable ul.menu li a:visited {
        color: white;
    } 

    header .menuIcon .menuDesplegable ul.menu li a:hover {
        color: #fce406;
    } 

    section {
        display: flex;
        flex-direction: column;
    }

    section .indexTitle {
        color: black;
        min-height: 50vh;
        margin-left: 10%;
        padding-top: 10%;
    }

    section .indexTitle p.thisIs {
        color: black;
        font-size: 500%;
        animation-name: slideLeft;
        animation-duration: 2s;
    }

    section .indexTitle p.terrepolis {
        width: 0%;
        background-color: black;
        font-size: 500%;
        color: rgba(255, 215, 0, 0);
        animation-name: showBlock;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    section .presentacion {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: gold;
    }

    section .presentacion .imgPresentacion {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 2%;
    }

    section .presentacion img {
        border: 5px solid black;
        border-radius: 50%;

    }

    @keyframes arito {
        0%{border-color: rgba(0, 0, 0, 1); transform:scale(1,1);}
        50%{border-color: rgba(0, 0, 0, 0.5); transform:scale(1.2,1.2);}
        1000%{border-color: rgba(0, 0, 0, 1); transform:scale(1,1);}
    }

    section .presentacion .imgPresentacion img:hover {
        border: 0.2em solid black;
        border-radius: 50%;
        animation-name: arito;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        animation-delay: 0s;
    }
    .presentacion .textoPresentacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 3%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .presentacion .textoPresentacion h1.tituloPresentacion {
        font-size: 200%;
        font-weight: bold;   
    }

    .presentacion .textoPresentacion p.descripcionPresentacion {
        font-size: 100%;
        padding-top: 2%;
    }

    .categorias {
        height: 10rem;
    }

    footer {
        margin-top: auto;
    }

    /* ------ INDEX PEQUEÑO ----- */
    /* ------ INDEX PEQUEÑO ----- */
    /* ------ INDEX PEQUEÑO ----- */

    .creatorMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1em;
    }
    
    .creatorMain .creatorText {
        display: flex;
        flex-direction: column;
        min-height: 80%;
        margin-bottom: 12%;
        padding-left: 5%;
    }
    
    .creatorMain .creatorText p.text1 {
        color: black;
        font-size: 200%;
        margin-top: 5%;
    }
    .creatorMain .creatorText p.text2 {
        color: gold;
        background-color: black;
        font-size: 200%;
    }
    
    .creatorMain .creatorText p.text3 {
        color: black;
        font-size: 100%;
        width: 90%;
        margin-top: 2%;
    }
    .creatorMain .creatorVideo { 
        position: relative; 
        padding-bottom: 56.25%; 
        padding-top: 30px; 
        overflow: hidden;
        background-color: goxld;
        margin-bottom: 5%;
    }
    
    .creatorVideo iframe {
        position: absolute;
        height: 100%;
        width: 100%;
        }

    /* ------CONTENT CREATOR PEQUEÑO ------ */
    /* ------CONTENT CREATOR PEQUEÑO ------ */
    /* ------CONTENT CREATOR PEQUEÑO ------ */
}

/* ---------- PANTALLAS PEQUEÑAS -------- */
/* ---------- PANTALLAS PEQUEÑAS -------- */
/* ---------- PANTALLAS PEQUEÑAS -------- */

@media (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        height: 3rem;
        background-color: black;
    }

    header .menuIcon img{
        display: none;
    }

    header .menuIcon .menuDesplegable ul.menu{
        display: flex;
        flex-direction: row;
        max-width: 800px;
    }

    header .menuIcon .menuDesplegable ul.menu li {
        padding: 0 0.5rem;   
        font-size: 20px;
        border-right: solid 1px white;
    } 
    
    header .menuIcon .menuDesplegable ul.menu li.contacto {
        padding: 0 0.5rem;   
        font-size: 20px;
        border-right: none;
    } 


    header .menuIcon .menuDesplegable ul.menu li a {
        color: white;
    }
    
    header .menuIcon .menuDesplegable ul.menu li a:visited {
        color: white;
    }
    
    header .menuIcon .menuDesplegable ul.menu li a:hover {
        color: #fce406;
    }

    section .indexTitle {
        color: black;
        min-height: 100vh;
        margin-left: 10%;
        padding-top: 10%;
    }
    section .indexTitle p.thisIs {
        color: black;
        font-size: 10rem;
        animation-name: slideLeft;
        animation-duration: 2s;
    }

    section .indexTitle p.terrepolis {
        width: 0%;
        background-color: black;
        font-size: 10rem;
        color: rgba(255, 215, 0, 0);
        animation-name: showBlock;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    section .presentacion {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: gold;
    }

    section .presentacion .imgPresentacion {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 2%;
    }

    section .presentacion img {
        border: 5px solid black;
        border-radius: 50%;

    }

    @keyframes arito {
        0%{border-color: rgba(0, 0, 0, 1); transform:scale(1,1);}
        50%{border-color: rgba(0, 0, 0, 0.5); transform:scale(1.2,1.2);}
        1000%{border-color: rgba(0, 0, 0, 1); transform:scale(1,1);}
    }

    section .presentacion .imgPresentacion img:hover {
        border: 0.2em solid black;
        border-radius: 50%;
        animation-name: arito;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        animation-delay: 0s;
    }
    .presentacion .textoPresentacion {
        margin-left: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 3%;
    }

    .presentacion .textoPresentacion h1.tituloPresentacion {
        font-size: 4rem;
        font-weight: bold;   
    }

    .presentacion .textoPresentacion p.descripcionPresentacion {
        font-size: 1.5rem;
        width: 40rem;
        padding-top: 2%;
    }

    .categorias {
        height: 10rem;
    }

    footer {
        margin-top: auto;
    }
    /* ------ INDEX ------ */
    /* ------ INDEX ------ */
    /* ------ INDEX ------ */

    .creatorMain {
        display: grid;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: 0.5fr 0.5fr;
        margin-top: 1em;
    }
    
    .creatorMain .creatorText {
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        height: 60vh;
    }
    
    .text1 {
        color: black;
        font-size: 4rem;
        margin-top: 5%;
    }

    .text2 {
        color: gold;
        background-color: black;
        font-size: 6rem;
    }
    
    .text3 {
        color: black;
        font-size: 1.5rem;
        width: 90%;
        margin-top: 2%;
    }

    .creatorMain .creatorVideo {
        grid-row: 2/3;
        grid-column: 2/3;
        margin-top: 1em;
        height: 0; 
        position: relative; 
        padding-bottom: 56.25%; 
        padding-top: 30px; 
        margin-bottom: 5%;
        overflow: hidden;
    }
    
    .creatorVideo iframe {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        }
    
    .relleno {
        grid-row: 2/3;
        grid-column: 1/4;
        z-index: -1;
        background-color: gold;
    }

    /* ------ CONTENT CREATOR ------- */
    /* ------ CONTENT CREATOR ------- */
    /* ------ CONTENT CREATOR ------- */

    .mainVO {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2%;
    }
    
    .mainVO .descripcionVO {
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 10%;
    }
    
    .mainVO .catalogoAudio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 800px;
        margin-top: 3%; 
    }
    
    .mainVO .catalogoAudio .audio {
        display: flex;
        flex-direction: column;
        padding: 2%;
        width: 328px;
    
    }
    
    .mainVO .catalogoAudio .audio h3 {
        text-align: center;
        font-weight: bold;
        padding-bottom: 1%;
    }
    

}

/* ------ PANTALLAS GRANDES ----- */
/* ------ PANTALLAS GRANDES ----- */
/* ------ PANTALLAS GRANDES ----- */


/* FIN CSS VOICEOVER */
/* FIN CSS DE CONTACTO */

@keyframes slideLeft {
    0% {transform: translate(-20%,0);
          color: rgba(0, 0, 0, 0);  
     }
    100% {transform: translate(0,0);
        color: rgba(0, 0, 0, 1)
    }
}

@keyframes showBlock {
    0% {width: 0%;
        color: rgba(255, 215, 0, 0);
    }
    50% {
        color: rgba(255, 215, 0, 0);
    }
    100% {
        width: 100%;
        color: rgba(255, 215, 0, 1);
    }
}

/* ------ PANTALLAS GRANDES ----- */
/* ------ PANTALLAS GRANDES ----- */
/* ------ PANTALLAS GRANDES ----- */

@keyframes aparecer {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

.aparecer3s {
    opacity: 0%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.aparecer13s {
    opacity: 0%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}
.aparecer1s {
    opacity: 0%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.aparecer06s {
    opacity: 0%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}
.aparecer03s {
    opacity: 0%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.aparecer0s {
    opacity: 0%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

